BasedOnStyle: LLVM
IndentWidth: 4            # Usa 4 espacios para la indentación
UseTab: Never             # Nunca usar tabulaciones
ColumnLimit: 120          # Límite de caracteres por línea
AlignConsecutiveMacros: true                  # Alinear macros a la izquierda
AllowShortIfStatementsOnASingleLine: true     # Cosas cortas en la misma línea
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline